<img src="Logo.png" width="100" align="left"/> 

# <center> Unit 3 Project </center>
#  <center> Third section : supervised task </center>

In this notebook you will be building and training a supervised learning model to classify your data.

For this task we will be using another classification model "The random forests" model.

Steps for this task: 
1. Load the already clustered dataset 
2. Take into consideration that in this task we will not be using the already added column "Cluster" 
3. Split your data.
3. Build your model using the SKlearn RandomForestClassifier class 
4. classify your data and test the performance of your model 
5. Evaluate the model ( accepted models should have at least an accuracy of 86%). Play with hyper parameters and provide a report about that.
6. Provide evidence on the quality of your model (not overfitted good metrics)
7. Create a new test dataset that contains the testset + an additional column called "predicted_class" stating the class predicted by your random forest classifier for each data point of the test set.

## 1. Load the data and split the data:

In [1]:
from sklearn.ensemble import RandomForestClassifier
import pandas as pd 
from sklearn.model_selection import train_test_split

In [2]:
# To-Do:  load the data 
df = pd.read_csv("HepatitisCdata_2.csv")
df.head()

,ID,Category,Age,Sex,ALB,ALP,ALT,AST,BIL,CHE,CHOL,CREA,GGT,PROT,cluster
0,1,0,32,1,38.5,52.5,7.7,22.1,7.5,6.93,3.23,106.0,12.1,69.0,3
1,2,0,32,1,38.5,70.3,18.0,24.7,3.9,11.17,4.80,74.0,15.6,76.5,3
2,3,0,32,1,46.9,74.7,36.2,52.6,6.1,8.84,5.20,86.0,33.2,79.3,3
3,4,0,32,1,43.2,52.0,30.6,22.6,18.9,7.33,4.74,80.0,33.8,75.7,3
4,5,0,32,1,39.2,74.1,32.6,24.8,9.6,9.15,4.32,76.0,29.9,68.7,3

In [6]:
# To-Do : keep only the columns to be used : all features except ID, cluster 
df1 = df.iloc[:,2:14]
import numpy as np
X=np.array(df1)
#extract the target which is in our case Category column
y=df['Category']
# The target here is the Category column 
# Do not forget to split your data (this is a classification task)

# test set size should be 20% of the data 

#here I m going to split the data set into training and testing subest
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2,random_state=0)

## 2. Building the model and training and evaluate the performance:

In [7]:
# To-do build the model and train it 
# note that you will be providing explanation about the hyper parameter tuning 
# So you will be iterating a number of times before getting the desired performance

In [8]:
#so we are going to use Search Grid to tune the hyper parameters
from sklearn.model_selection import GridSearchCV
#set the parameters by cross-validation
bootstrap= [True]
max_depth =[80, 90, 100, 110]
max_features =[2, 3,5,12]
min_samples_leaf =[3, 4, 5]
min_samples_split =[5,8, 10, 12]
n_estimators =[5,100, 200, 300, 1000] 
criterion='entropy'

param_grid = dict(max_depth=max_depth, n_estimators=n_estimators)

In [9]:
# Create a random forest Classifier
dfrst = RandomForestClassifier(n_estimators=n_estimators,random_state=0)
# Instantiate the grid search model
grid = GridSearchCV(estimator=dfrst, param_grid=param_grid, cv = 5)
#here I am going to train  the model
grid.fit(X_train, y_train)

GridSearchCV(cv=5,
             estimator=RandomForestClassifier(n_estimators=[5, 100, 200, 300,
                                                            1000],
                                              random_state=0),
             param_grid={'max_depth': [80, 90, 100, 110],
                         'n_estimators': [5, 100, 200, 300, 1000]})

In [10]:
# Extract the best decision forest 
best_clf = grid.best_estimator_
yhat = grid.predict(X_test)
print(yhat)

[0 0 0 0 0 4 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 4 0 0 0 0 0 0 0 0 0 0 0 0 0
 4 0 0 0 0 0 4 0 0 0 0 0 0 0 0 0 0 0 0 0 0 3 0 0 0 0 0 0 0 4 0 1 0 0 0 4 0
 0 3 0 0 0 0 0 0 0 0 0 0 0 0 0 3 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 3 0 4 0 3 0
 0 0 0 0 0 0 0 0 0 0 3 0]

In [11]:
# To-do : evaluate the model in terms of accuracy and precision 
# Provide evidence that your model is not overfitting 
from sklearn.metrics import precision_score, accuracy_score
print("accuracy = ",accuracy_score(y_test,yhat))
print("precision = ",precision_score(y_test,yhat,average='macro'))

accuracy =  0.926829268292683
precision =  0.572520751419834

C:\Users\ZenBook\anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1248: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

> Hint : A Perfect accuracy on the train set suggest that we have an overfitted model So the student should be able to provide a detailed table about the hyper parameters / parameters tuning with a good conclusion stating that the model has at least an accuracy of 86% on the test set without signs of overfitting

In [12]:
from sklearn.metrics import classification_report
print(classification_report(y_test,yhat))

              precision    recall  f1-score   support

           0       0.98      0.99      0.99       108
           1       1.00      0.50      0.67         2
           2       0.00      0.00      0.00         4
           3       0.17      0.50      0.25         2
           4       0.71      0.71      0.71         7

    accuracy                           0.93       123
   macro avg       0.57      0.54      0.52       123
weighted avg       0.92      0.93      0.92       123

C:\Users\ZenBook\anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1248: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\Users\ZenBook\anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1248: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\Users\ZenBook\anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1248: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

## 3. Create the summary test set with the additional predicted class column: 
In this part you need to add the predicted class as a column to your test dataframe and save this one

In [13]:
# To-Do : create the complete test dataframe : it should contain all the feature column + the actual target and the ID as wel
df1 = df.iloc[:,0:15]
x=np.array(df1)
Y=df['Category']
x_train, x_test, y_train, y_test = train_test_split(x,Y,test_size=0.2,random_state=0)
test_df=pd.DataFrame(x_test, columns = ['ID','Category','Age', 'Sex', 'ALB', 'ALP', 'ALT', 'AST', 'BIL', 'CHE', 'CHOL', 'CREA',
       'GGT', 'PROT', 'cluster'])

In [14]:
test_df.head()

,ID,Category,Age,Sex,ALB,ALP,ALT,AST,BIL,CHE,CHOL,CREA,GGT,PROT,cluster
0,50.0,0.0,36.0,1.0,47.8,89.0,48.5,38.4,8.6,8.26,5.62,96.0,21.9,76.2,3.0
1,497.0,0.0,56.0,0.0,45.1,79.1,39.0,30.5,5.2,6.47,5.10,64.0,145.3,66.7,4.0
2,212.0,0.0,51.0,1.0,45.9,66.7,31.8,28.1,9.0,10.08,5.61,85.0,36.2,73.0,3.0
3,250.0,0.0,55.0,1.0,44.7,71.6,22.9,22.1,5.5,6.82,4.61,105.0,59.2,72.7,4.0
4,143.0,0.0,45.0,1.0,43.2,68.2,27.8,42.3,6.6,10.93,6.61,105.0,27.2,74.5,3.0

In [15]:
# To-Do : Add the predicted_class column 
test_df["Predicted_class"] = grid.predict(X_test)

In [16]:
test_df.head()

,ID,Category,Age,Sex,ALB,ALP,ALT,AST,BIL,CHE,CHOL,CREA,GGT,PROT,cluster,Predicted_class
0,50.0,0.0,36.0,1.0,47.8,89.0,48.5,38.4,8.6,8.26,5.62,96.0,21.9,76.2,3.0,0
1,497.0,0.0,56.0,0.0,45.1,79.1,39.0,30.5,5.2,6.47,5.10,64.0,145.3,66.7,4.0,0
2,212.0,0.0,51.0,1.0,45.9,66.7,31.8,28.1,9.0,10.08,5.61,85.0,36.2,73.0,3.0,0
3,250.0,0.0,55.0,1.0,44.7,71.6,22.9,22.1,5.5,6.82,4.61,105.0,59.2,72.7,4.0,0
4,143.0,0.0,45.0,1.0,43.2,68.2,27.8,42.3,6.6,10.93,6.61,105.0,27.2,74.5,3.0,0

> Make sure you have 16 column in this test set

In [17]:
test_df.shape

(123, 16)

In [18]:
# Save the test set 
test_df.to_csv("test_summary.csv",index=False)